name: audio_service
description: Flutter plugin to play audio in the background while the screen is off.
version: 0.6.0
homepage: https://github.com/ryanheise/audio_service

environment:
  sdk: '>=2.6.0 <3.0.0'

dependencies:
  rxdart: ^0.23.1
  flutter_isolate: ^1.0.0+11
  flutter:
    sdk: flutter

flutter:
  plugin:
    androidPackage: com.ryanheise.audioservice
    pluginClass: AudioServicePlugin
